.background-login-page {
  background: url("../images/login-background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-section {
  height: auto;
  width: 25%;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.1px);
  -webkit-backdrop-filter: blur(1.1px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.login-inputbox {
  display: flex;
  flex-direction: column;
  width: 80%;
  box-sizing: border-box;
  border-radius: 5px;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.16);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.1px);
  -webkit-backdrop-filter: blur(1.1px);
  border: 1px solid rgba(255, 255, 255, 0.89);
}

.login-inputbox::placeholder {
  color: rgba(255, 255, 255, 0.781);
}

.login-section h3 {
  color: white;
}

.inputs-section {
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 20px;
}

.login-header {
  margin-top: 20px;
}

.login-option {
  text-decoration: none;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .login-section {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .login-section {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .login-section {
    width: 80%;
  }
}

@media (max-width: 750px) {
  .login-section {
    width: 70%;
  }
}

/* Responsive styles for larger screens */

.login-button-section {
  position: relative;
  margin: 15px;
}

.signup-massage {
  text-align: center;
  align-items: center;
  margin-top: 30px;
  background: rgba(23, 213, 47, 0.52);
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.1px);
  -webkit-backdrop-filter: blur(1.1px);
}

.signup-avatar-choose {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.avatar-img {
  width: 15%;
  margin-left: 10px;
  transition: all 0.2s ease;
  border-radius: 50%;
  &.selected-avatar {
    outline: 4px solid rgb(93, 224, 93);
  }
}

.avatar-img:hover {
  transform: scale(1.3);
}

.avatars-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.avatar-choosing {
  flex-direction: column;
  padding-bottom: 15px;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.error-messages {
  height: auto;
  width: auto;
  margin-top: 20px;
}

.error-message {
  margin: 3px;
  color: red;
}

.login-button {
  background-color: #1a40bd;
  border: 0;
  border-radius: 40px;
  color: #fff;

  outline: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.login-button:before {
  background-color: initial;
  border-radius: 125px;
  content: "";
  height: 25%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 80%;
}

.login-button:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .login-button {
    padding: 16px 48px;
  }
}

.empty-input {
  outline: 2px solid #d8000c;
}
