.modal-body {
  display: flex;
  width: auto;
  height: auto;
  background-color: transparent;
  padding: 7px;
}

.custom-modal-content {
  /* background-color: transparent; */
  width: auto;
  height: auto;
}

.custom-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.modal-header {
  background-color: transparent;
  border: none;
}

.modal-details {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  text-align: left;
  position: absolute;
  bottom: 20px;
  color: white;
  left: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.6);
  width: auto;
  height: auto;
  border-radius: 10px;
}

.modal-footer {
  background-color: transparent;
  border: none;
}
.modal-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 6px;
  object-fit: cover;
}

.modal-close-button {
  position: absolute;
  left: 95%;
  bottom: 90%;
}

.modal-close-button.button-styling {
  background-color: black;
}

.modal-rating {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.rating-star-image {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.vote-rating {
  font-size: 20px;
}

.media-player {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.modal-details-header {
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  height: 50px;
  justify-content: space-between;
  width: 95%;
}

.element-overview {
  padding-left: 10px;
}

@media screen and (max-width: 1000px) {
  .modal-body {
    height: 550px;
    width: 660px;
  }

  .modal-details {
    height: 25%;
  }

  .modal-img {
    object-fit: cover;
  }

  .element-overview {
    font-size: small;
  }

  .modal-rating {
    .vote-rating {
      font-size: 15px;
    }

    .rating-star-image {
      width: 16px;
      height: 16px;
    }
  }
  .trailer-button {
    margin-left: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .modal-body {
    height: 600px;
  }

  .modal-close-button {
    margin-bottom: 5px;
  }

  .modal-img {
    object-fit: cover;
  }

  .modal-element-name {
    font-size: 20px;
  }
}
@media screen and (max-width: 685px) {
  .modal-body {
    width: auto;
  }

  .modal-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .element-overview {
    display: none;
  }

  .modal-close-button {
    margin-right: 15px;
    width: 30x;

    right: 10px;
  }

  .modal-element-name {
    font-size: 20px;
    margin: 0;
    padding: 0;
  }

  .modal-details {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }

  .trailer-button {
    width: 120px;
  }

  .custom-modal-content {
    border-radius: 20px;
    margin: 0;
  }

  .custom-modal .modal-dialog {
    margin: 0;
  }

  .custom-modal {
    padding: 0;
    top: 80px;
  }

  .vote-rating {
    font-size: 18px;
  }

  .modal-rating {
    display: none;
  }
}
