/* UserDialog.css */

.main-details-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.user-details {
  text-align: left; 
}

.user-detail {
  margin-bottom: 10px;
  color: black;
}

.custom-user-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}


